/*
$font-xsl: 77px;
$font-xl: 72px;
$font-x: 56px;
$font-xm: 48px;
$font-xsm: 40px;
$font-m: 32px;
$font-sm: 24px;
$font-s: 16px;
*/

/*
1rem = 16px
0.0625rem = 1px
*/

$font-xsl: 4.8rem;
$font-xl: 4.5rem;
$font-x: 3.5rem;
$font-xm: 3rem;
$font-xsm: 2.5rem;
$font-m: 2rem;
$font-sm: 1.5rem;
$font-s: 1rem;