@keyframes menuScaleOn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes menuScaleOut {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* トップ */
@keyframes planetScaleOn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes planetScaleOut {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* 選択画面 */
@keyframes selectTextScaleOn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

@keyframes selectTextScaleOut {
  0% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}