/* ヘッダー */
@keyframes menuScaleOn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes menuScaleOut {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes menuTextScaleOn {
  0% {
    font-size: $font-xsm;
  }

  100% {
    font-size: calc($font-xsm * 1.1);
  }
}

@keyframes menuTextScaleOut {
  0% {
    font-size: calc($font-xsm * 1.1);
  }

  100% {
    font-size: $font-xsm;
  }
}

/* トップ */
@keyframes planetScaleOn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes planetScaleOut {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* 選択画面 */
@keyframes selectTextScaleOn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

@keyframes selectTextScaleOut {
  0% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

/* イベント */
@keyframes eventFocusScaleOn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.02);
  }
}

@keyframes eventFocusScaleOut {
  0% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}